.button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.container {
  position: relative;
}

.items {
  position: absolute;
  background-color: var(--background-dark);
  top: 100%;
  padding: 0.5rem 1rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  
  a {
    text-transform: none;
  }
}