.header {
  background-color: var(--background-dark);
  padding: 0.5rem 0;
}

.links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
  text-transform: uppercase;

  a {
    padding: 0.5rem 0;
  }
}

.flags {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

  a {
    padding: 0.5rem 0;
  }
}