.header {
  background-color: var(--background-dark);
  padding: 0.5rem 0;
}

.links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
  text-transform: uppercase;

  a {
    padding: 0.5rem 0;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  @media (max-width: 1110px) {
    display: none;
  }
}

.flags {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

  a {
    padding: 0.5rem 0;

    &:focus {
      outline: 3px solid var(--primary);
      outline-offset: 2px;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

}

.burgerMenu {
  display: none;
  margin-left: 2rem;

  @media (max-width: 1110px) {
    display: block;
  }

  @media (max-width: 400px) {
    margin-left: 0;
  }
}