.banner1 {
  background-image: url(/images/Banniere_1.jpg);
  background-position: center -150px !important;

  @media (max-width: 1500px) {
    background-position: center -100px !important;
  }

  @media (max-width: 1000px) {
    background-position: center !important;
  }
}

.video {
  @media (max-width: 600px) {
    width: 280px;
    height: 160px;
  }
}

.banner2Image {
  background-image: url(/images/Banniere_2.jpg);
}

.button {
  margin: auto;
  width: fit-content;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.firstLine {
  margin-top: 2rem;
}

.buttons {
  margin: 3rem;
  text-align: center;

  @media (max-width: 900px) {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.data {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.value {
  color: var(--primary);
  font-size: 1.75rem;
  font-weight: bold;
}

.dataImage {
  height: 100px;
  width: auto;
}
