:root {
  --primary: #ee91b4;
  --primary-transparent: #ee91b4a3;
  --primary-light: #eab4ca;
  --text: #818b92;
  --text-dark: #5b5b5b;
  --background-dark: #333333;
  --white: #ffffff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  color: var(--text);
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 4rem;
  color: var(--primary);
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary);
}

h3 {
  font-size: 1.75rem;
  color: var(--text-dark);
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

.flex-container,
.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pink {
  color: var(--primary);
}

.center {
  text-align: center;
}


.marker-popup {
  position: absolute;
  padding: 0.25rem;
  font-size: 1rem;
  top: 0;
  left: 50%;
  background-color: var(--white);
  color: var(--primary);
  transform: translate(-50%, -110%);
  border-radius: 4px;
  border: solid 1px var(--primary);

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
}

.marker {
  position: relative;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: solid 1px var(--white);
  background-color: var(--primary);
  padding: 0;

  &:hover {
    background-color: var(--primary-light);

    .marker-popup {
      visibility: visible;
      opacity: 1;
    }
  }
}